# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/
CV/cv-1/.cache/
CV/cv-1/.vscode/
CV/cv-1/node_modules/
JavaScript/Algorithm/node_modules/
